* {
  text-align: center;
  color: mediumorchid;
}
h1 {
  text-align: left;
  font-family: 'Brush Script MT', cursive;
}

.jumbotron>p {
  text-align: left;
}

.jumbotron>h5 {
  text-align: right;
}

body {
  background: aquamarine;
}
.cards {
  padding: 5px;
}

.noResults {
  display: none;
}

h2 {
  display: inline-block;
}

.remove {
  margin-left: 5px;
  margin-top: -25px;
  opacity: 0.8;
}
.show {
  margin: 0 auto;
  margin-bottom: 3px;
}

.idcode {
  display: none;
}

#template {
  display: none;
}

.forecast {
  display: none;
}

.weatherImage, .temperature {
  display: inline-block;
}

.card, .daily {
  border: 1px solid lightblue;
}
