*
{
    text-align: center;

    color: purple;
}
h1
{
    font-family: 'Brush Script MT', cursive;

    text-align: left;
}

.jumbotron > p
{
    text-align: left;
}

.jumbotron > h5
{
    text-align: right;
    background-color: azure;
}

body
{
    background: turquoise;
}

#refresh
{
    margin-top: 8px;
}

.cards
{
    padding: 5px;
    background-color: azure;
}

.noResults
{
    display: none;
}

h2
{
    display: inline-block;
}

.remove
{
    margin-top: -25px;
    margin-left: 5px;

    opacity: .8;
}
.show
{
    margin: 0 auto;
    margin-bottom: 3px;
}

.idcode
{
    display: none;
}

#template
{
    display: none;
}

.forecast
{
    display: none;
}

.weatherImage,
.temperature
{
    display: inline-block;
}

.card,
.daily
{
    border: 1px solid lightblue;
}
